<div class="container d-flex">
  <div class=" justify-content-center">
    <div style="color:green">
    <h1> Stupid Coaching</h1>

    <%= link_to "Ask a new question", ask_path %>
    <h2><%= "#{@answer}" %></h2>
  </div>
</div>
</div>
